body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.makeBoard {
    display: flex;
}