body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0px;
    /* flex shorthand for 0 1 auto */
    flex: initial;
}

.board > div {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* flex shorthand for 0 1 auto */
    flex: auto;
}

.makeBoard {
    display: flex;
}